<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
</head>
<body>
<form action="/login" method="post">
  <input type="hidden" name="username" value="instructor"/>
  <button type="submit">Log in as Instructor</button>
</form>
<form action="/login" method="post">
  <input type="hidden" name="username" value="student1"/>
  <button type="submit">Log in as Student</button>
</form>
<form action="/login" method="post">
  <input type="text" name="username" value=""/>
  <input type="text" name="password" value=""/>
  <button type="submit">Log in properly</button>
</form>

</body>
</html>